.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-burger {
    width: 74px;
    height: 70px;
    background-position: -10px -10px;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -10px -100px;
}

.sprite-calendar-active {
    width: 21px;
    height: 22px;
    background-position: -10px -142px;
}

.sprite-calendar-hover {
    width: 21px;
    height: 22px;
    background-position: -10px -184px;
}

.sprite-checkbox {
    width: 26px;
    height: 22px;
    background-position: -10px -226px;
}

.sprite-checkbox-none {
    width: 22px;
    height: 22px;
    background-position: -10px -268px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -10px -310px;
}

.sprite-fb-active {
    width: 10px;
    height: 19px;
    background-position: -10px -349px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -10px -388px;
}

.sprite-html-academy {
    width: 113px;
    height: 39px;
    background-position: -10px -480px;
}

.sprite-html-academy-active {
    width: 113px;
    height: 39px;
    background-position: -10px -539px;
}

.sprite-html-academy-hover {
    width: 113px;
    height: 39px;
    background-position: -10px -598px;
}

.sprite-present {
    width: 64px;
    height: 76px;
    background-position: -10px -657px;
}

.sprite-stars {
    width: 89px;
    height: 17px;
    background-position: -10px -753px;
}

.sprite-tw {
    width: 17px;
    height: 15px;
    background-position: -10px -790px;
}

.sprite-tw-active {
    width: 17px;
    height: 15px;
    background-position: -10px -825px;
}

.sprite-yt {
    width: 20px;
    height: 16px;
    background-position: -10px -860px;
}

.sprite-yt-active {
    width: 20px;
    height: 16px;
    background-position: -10px -896px;
}

/*==================================
====================================
==================================*/

html {
    min-width: 1280px;
    max-height: 2762px;

    background-color: #f2f2f2;
}

body {
    min-width: 1200px;
    max-height: 2762px;
    margin: 0 40px;
    padding: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2)
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
}

.main-header {
    position: relative;

    background-color: #ffffff;
}

.main-header ul {
    display: flex;
    margin: 0;
    padding: 0 10px;

    list-style: none;
}

.main-header li {
    display: inline-block;
    flex-basis: 120px;

    vertical-align: top;
}

.main-header li:first-child {
    margin-left: 48px;
}

.main-header li:nth-child(2) {
    margin-left: 123px;
}

.main-header li:nth-child(3) {
    margin-left: 361px;
}

.main-header li:last-child {
    margin-left: 127px;
}

.main-header a {
    display: block;
    padding: 14px 10px 15px 10px;

    text-align: center;
    color: #000000;
    text-decoration: none;
}

.main-header a:hover {
    color: #81b3d2;
}

.main-header a:active {
    color: #b2b2b2;
}

.logo {
    position: absolute;
    left: 50%;
    margin: 0;
    padding: 0;
    margin-left: -69px;
}

.logo a {
    margin: 0;
    padding: 0;
}

.main-image {
    margin: 0;
    margin-top: -55px;
}

.main-fonts {
    position: absolute;
    top: 132px;
    left: 50%;
    margin: 0;
    margin-left: -222px;
}

.main-image-shadow {
    position: absolute;
    top: 507px;
    margin: 0;   
}

.city-of-sedona {
    position: absolute;
    top: 564px;
    width: 1180px;
    margin: 0 auto;
    padding: 0 10px;

    text-align: center;

    background-color: #ffffff;
}

.city-of-sedona h1 {
    margin-top: 60px;
    margin-bottom: 27px;
    padding: 0 200px;

    font-size: 21px;
    line-height: 26px;
}

.city-of-sedona h2 {
    margin-bottom: 50px;

    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.first-cause,
.second-cause {
    display: flex;
    height: 256px;
    margin: 0;
    padding: 0;

    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
}

.first-cause-left,
.second-cause-right {
    flex-basis: 400px;
}

.first-cause h3,
.second-cause h3 {
    margin-top: 53px;
    padding: 0 100px;

    font-size: 21px;
    line-height: 21px;
}

.firts-cause span,
.second-cause span {
    display: block;
    margin: 0;

    vertical-align: top;
}

.first-cause p,
.second-cause p {
    margin: 0;
    padding: 0 50px;
    padding-top: 19px;

    font-size: 14px;
    line-height: 21px;
}

.photo-first-cause,
.photo-second-cause {
    flex-basis: 800px;
    margin: 0;
}

.recomendation-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
}

.recomendation {
    width: 400px;
    margin-bottom: 82px;
}

.recomendation span {
    display: block;
    width: 85px;
    height: 85px;
    margin: 0;
    margin-top: 51px;
    margin-left: 151px;
    padding: 0;

    font-size: 0;
}

.recomendation .accommodation {
    background: #ffffff url("../images/sprite.png") no-repeat;
    background-position: 0 -380px;
}

.recomendation .food {
    background: #ffffff url("../images/sprite.png") no-repeat;
    background-position: 2px -1px;
}

.recomendation .souvenirs {
    background: #ffffff url("../images/sprite.png") no-repeat;
    background-position: 7px -653px;
}

.recomendation h3 {
    margin: 0;
    padding: 0 10px;
    padding-top: 24px;
    padding-bottom: 10px;

    font-size: 21px;
    line-height: 21px;
}

.recomendation p {
    margin: 0;
    padding: 0 50px;
    padding-top: 14px;

    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.second-cause {
    flex-direction: row-reverse;
}

.second-cause h3 {
    margin-top: 55px;
}

.second-cause p {
    padding: 19px 40px 0 40px;
}

.flex-container {
    display: flex;
    margin: 0;
    padding: 0;

    text-align: center;
    color: #000000;
    background-color: #eeeeee;
}

.flex-container-columns {
    flex-basis: 400px;
    margin-bottom: 40px;
}

.flex-container-columns h3 {
    margin: 0;
    padding: 47px 120px 21px 120px;

    font-size: 21px;
    line-height: 21px;
}

.flex-container-columns span {
    font-size: 14px;
    line-height: 21px
    color: #333333;
}

.flex-container-columns p {
    margin: 0;
    padding: 19px 70px;

    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.user-block {
    position: relative;

    text-align: center;
}

.user-block b {
    display: block;
    margin: 0;
    padding: 10px 10px;
    padding-top: 53px;

    font-size: 30px;
    line-height: 30px;
}

.user-block p {
    margin: 0;
    margin-bottom: 30px;
    padding: 17px 200px;

    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.user-block button {
    position: relative;
    z-index: 3;

    margin: 0;
    padding: 30px 139px;

    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;

    border: none;
    background-color: #766357;
}

.user-block button:hover {
    background-color: #604e43;
}

.user-block button:active {
    color: #857871;
    background-color: #503e33;
}

figure.map {
    position: absolute;
    z-index: 1;

    margin: 0;
    padding: 0;
}

.main-footer {
    position: relative;
    z-index: 2;

    display: flex;
    margin: 0;
    margin-top: 473px;
    padding: 22px 0;

    text-align: center;

    color: #000000;
    background-color: #ffffff;
    opacity: 0.9;
}

.main-footer .visit-sedona,
.main-footer .social-button,
.main-footer .copyright {
    width: 400px;
}

.main-footer .visit-sedona {
    margin: 0;
    padding: 0;
    padding-top: 24px;

    font-size: 21px;
    line-height: 26px;
}

.main-footer .social-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin: 0 1px;

    vertical-align: top;
    font-size: 0;
    text-decoration: none;

    background: #81b3d2 url("../images/sprite.png") no-repeat center;
}

.main-footer .social-btn:hover {
    background-color: #669ec0;
}

.main-footer .social-btn:active {
    background-color: #5496bd;
}

.main-footer .social-btn-tw {
    background-position: 4px -774px;
}

.main-footer .social-btn-tw:active {
    background-position: 4px -809px;
}

.main-footer .social-btn-fb {
    background-position: 7px -297px;
}

.main-footer .social-btn-fb:active {
    background-position: 7px -336px;
}

.main-footer .social-btn-yt {
    background-position: 2px -844px;
}

.main-footer .social-btn-yt:active {
    background-position: 2px -880px;
}

.main-footer .copyright {
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.main-footer .html-academy {
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.html-academy span {
    display: inline-block;
    width: 198px;
    height: 50px;
    margin-top: -7px;
    padding-top: 11px;
    padding-left: 3px;

    vertical-align: top;
    text-align: left;

    background: #ffffff url("../images/sprite.png") no-repeat;
    background-position: 74px -474px;
}

.html-academy span:hover {
    background-position: 74px -592px;
}

.html-academy span:active {
    background-position: 74px -533px;
}

.modal-content {
    position: absolute;
    top: 2169px;
    left: 50%;
    z-index: 2;

    width: 456px;
    height: 285px;
    margin: 0;
    margin-left: -277px;
    padding: 56px;
    padding-bottom: 54px;

    font-size: 14px;
    line-height: 26px;

    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15)
}

.modal-content .date-in,
.modal-content .date-out,
.modal-content .adult,
.modal-content .child {
    width: 297px;
    margin-bottom: 31px;
    padding: 5px;
    padding-left: 8px;

    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;

    cursor: pointer;
    border: none;
    background-color: #f2f2f2;
}

.modal-content .date-in:hover,
.modal-content .date-out:hover,
.modal-content .adult:hover,
.modal-content .child:hover {
    background-color: #ebebeb;
}

.modal-content .date-in:hover,
.modal-content .date-out:hover {
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    background-position: 301px -177px;
}

.modal-content .date-in:focus,
.modal-content .date-out:focus,
.modal-content .adult:focus,
.modal-content .child:focus {
    padding-left: 6px;

    background: #ffffff url("../images/sprite.png") no-repeat;
    background-position: 299px -137px;
    border: 2px solid #e5e5e5;
}

.modal-content .date-in:focus,
.modal-content .date-out:focus {
    width: 293px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.modal-content .adult:focus,
.modal-content .child:focus {
    width: 98px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.modal-content .date-in,
.modal-content .date-out {
    padding-right: 40px;
    background: #f2f2f2 url("../images/sprite.png") no-repeat;
    background-position: 301px -93px;
}

.modal-content .date-in {
    margin-left: 19px;
}

.modal-content .date-out {
    margin-left: 15px;
}

.modal-content .adult,
.modal-content .child {
    width: 102px;
    margin-left: 35px;
    padding: 6px;

    text-align: center;
}

.modal-content .adult {
    margin-right: 52px;
}

.modal-content .child {
    margin-left: 20px;
}

.modal-content input[type="submit"] {
    width: 456px;
    margin-top: 23px;
    padding: 16px;

    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;

    cursor: pointer;
    color: #ffffff;
    border: none;
    background-color: #81b3d2;
}

.modal-content input[type="submit"]:hover {
    background-color: #669ec0;
}

.modal-content input[type="submit"]:active {
    color: #88b6d1;
    background-color: #5496bd;
}

/*===================
=====================
=== style-hotels ====
=====================
===================*/

.main-header .active a {
    color: #766357;
}

.filter {
    color: #ffffff;
    background: #5683ac url(../images/background-page-hotels.jpg) no-repeat;
}

.filter-form {
    display: flex;
}

.filter-form-infrastructure {
    width: 241px;
    padding-left: 72px;
}

.filter-form-type-accommodation {
    width: 288px;
    padding-left: 13px;
}

.difficult-filter {
    width: 328px;
    margin-left: 180px;
    padding-left: 7px;
}

.infrastructure-title,
.type-accommodation-title,
.dif-filter-title {
    margin: 0;
    padding: 0;
    padding-top: 28px;
    padding-bottom: 10px;

    font-size: 16px;
    line-height: 21px;
}

.infrastructure,
.type-accommodation {
    position: relative;

    display: block;
    margin-top: 12px;
    margin-bottom: -18px;
    margin-right: 110px;
    padding-left: 39px;

    cursor: pointer;
}

.type-accommodation {
    margin-right: 135px;
    padding-left: 42px;
}

.infrastructure:last-child {
    margin-bottom: 29px;
}

.infrastructure input[type="checkbox"],
.type-accommodation input[type="checkbox"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
}

.checkbox-indicator {
    position: absolute;
    top: -2px;
    left: -2px;

    width: 30px;
    height: 30px;

    background: transparent url("../images/sprite.png") no-repeat;
    background-position: -9px -265px;
}

input[type="checkbox"]:checked + 
.checkbox-indicator::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;

    width: 30px;
    height: 30px;

    background: transparent url("../images/sprite.png") no-repeat;
    background-position: -7px -221px;
}

.price-controls {
    position: relative;

    height: 32px;
    margin-bottom: 20px;
    margin-left: 9px;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;

    width: 2px;
    height: 22px;

    background-color: #ffffff;
}

.price-controls label {
    display: inline-block;
    width: 90px;
    padding-left: 65px;
    padding-top: 5px;


    font-size: 14px;
    line-height: 21px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .max-price {
    padding-left: 52px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    font: inherit;
    color: inherit;

    background: transparent;
    border: none;
    outline-color: #5683ac;
}

.range-controls {
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 9px;
}

.range-controls .scale {
    height: 2px;

    background-color: rgba(255, 255, 255, 0.3)
}

.range-controls .bar {
    width: 79%;
    height: 2px;

    background-color: #ffffff;
}

.range-controls .range-toggle {
    position: absolute;
    top: -9px;

    display: block;
    width: 4px;
    height: 4px;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 0 rgba(0, 1, 1, 0.14);
    cursor: pointer;
}

.range-controls .range-toggle:hover {
    background-color: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 79%;
}

.btn-transparent {
    margin-top: 7px;
    margin-left: 95px;
    padding: 6px 28px;

    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background-color: #ffffff;
}

.searching-results {
    position: relative;
}

.searching-results p {
    display: inline-block;
    margin: 0;
    padding: 30px;

    vertical-align: top;
}

p.searching-results-number {
    padding-left: 71px;

    font-size: 21px;
    line-height: 26px;
}

p.searching-results-sorting {
    padding-top: 36px;
    padding-left: 15px;

    font-size: 12px;
    line-height: 16px;
}

.btn-sorting-price,
.btn-sorting-by-type,
.btn-sorting-rating {
    margin-top: 37px;
    margin-left: 5px;
    padding: 0;

    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.3);
    background: none;
    border: none;
    border-bottom: 1px dotted #81b3d2;
    cursor: pointer;
}

.btn-sorting-price:hover,
.btn-sorting-by-type:hover,
.btn-sorting-rating:hover {
    color: #81b3d2;
}

.btn-sorting-price:active,
.btn-sorting-by-type:active,
.btn-sorting-rating:active {
    color: #000000;
    border: none;
}

.btn-sorting-price:focus,
.btn-sorting-by-type:focus,
.btn-sorting-rating:focus {
    color: #81b3d2;
    border: none;
}

.btn-sorting-by-type,
.btn-sorting-rating {
    margin-left: 28px;
}

.btn-sorting-price-active {
    color: #81b3d2;
    border: none;
}

.btn-sorting-type-up,
.btn-sorting-type-down {
    position: absolute;

    width: 13px;
    height: 13px;

    background-color: #ffffff;
    border: none;
    cursor: pointer;

    outline: none;
}

.btn-sorting-type-up {
    top: 40px;
    right: 94px;
    background: url(../images/sprite-up.png) no-repeat;
}

.btn-sorting-type-up:hover {
    background-image: url(../images/sprite-up-hover.png);
}

.btn-sorting-type-up:active {
    background-image: url(../images/sprite-up-active.png);
}

.btn-sorting-type-down {
    top: 39px;
    right: 71px;
    background: url("../images/sprite-down.png") no-repeat;
}

.btn-sorting-type-down:hover {
    background-image: url(../images/sprite-down-hover.png);
}

.btn-sorting-type-down:active {
    background-image: url(../images/sprite-down-active.png);
}

.btn-sorting-type-down-active {
    background-image: url(../images/sprite-down-active.png);
}

.hotels-description .hotel {
    position: relative;

    display: flex;
    padding: 25px 73px 22px 72px;

    border-top: 1px solid #e5e5e5;
}

.third-variant-hotel {
    border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
    margin: 0;
    margin-top: 5px;
}

.name-of-hotel {
    position: absolute;
    top: 25px;
    left: 238px;

    margin: 0;

    font-size: 21px;
    line-height: 26px;
}

.name-of-hotel a {
    text-decoration: none;
    color: #000000;
}

.name-of-hotel a:hover {
    color: #81b3d2;
}

.name-of-hotel a:active {
    color: #b2b2b2;
}

.type-of-accommodation,
.accommodation-price {
    position: absolute;
    top: 58px;
    left: 237px;

    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.accommodation-price {
    left: 352px;
}

.description,
.booking {
    position: absolute;
    top: 93px;

    padding: 3px 16px 3px 17px;

    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
    
    cursor: pointer;
}

.description {
    left: 237px;

    background-color: #81b3d2;
}

.description:hover {
    background-color: #669ec0;
}

.description:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.booking {
    left: 353px;

    background-color: #766357;
}

.booking:hover {
    background-color: #604e43;
}

.booking:active {
    color: #857871;
    background-color: #503e33;
}

.number-of-stars {
    position: absolute;
    top: 29px;
    right: 71px;

    width: 90px;
    height: 18px;

    font-size: 0;

    background-image: url(../images/stars.png);
}

.second-variant-hotel .number-of-stars {
    right: 67px;

    width: 70px;
}

.third-variant-hotel .number-of-stars {
    right: 64px;

    width: 50px;
}

.hotel-rating {
    position: absolute;
    top: 93px;
    right: 73px;

    width: 100px;
    padding: 3px;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #666666;

    background-color: #f2f2f2;
}

.hotels-page-footer {
    margin: 0;
}